<nav>
    <div class="nav__main-row">
        <a href="/levels"><h1 class="nav__logo">User Coins List</h1></a>
        <button class="nav__toggler"></button>
    </div>
    
    <ul class="nav__links nav__expand">
        <li><a href="/levels">Levels</a></li>
        <li><a href="/leaderboard">Leaderboard</a></li>
        <li><a href="/admin">Admin Area</a></li>
    </ul>
</nav>

<script src="/js/nav.js" defer></script>