<nav>
    <div class="nav__main-row">
        <a href="/levels"><h1 class="nav__logo">User Coins List</h1></a>
        <button class="nav__toggler"></button>
    </div>
    
    <ul class="nav__links nav__expand">
        <li><a href="/levels">Levels</a></li>
        <li><a href="/leaderboard">Leaderboard</a></li>
        <li id="admin-button"><button type="button">Admin Area</button></li>
    </ul>

    <form id="admin-form" action="/login" method="POST" class="nav__admin-form hidden">
        <p>Enter the admin area access key:</p>
        <div>
            <input name="key" type="password">
            <button type="submit">Login</button>
        </div>
    </form>
</nav>

<script src="/js/nav.js" defer></script>