<nav class="navbar">
    <div class="navbar-main-wrapper">
        <div class="navbar-main-row">
            <h1 id="site-logo">User Coins List</h1>
            <button class="navbar-toggler-icon"></button>
        </div>
        <div class="mobile-hidden navbar-expand">
            <ul class="navbar-list">
                <li><a href="/levels">Levels</a></li>
                <li><a href="/leaderboard">Leaderboard</a></li>
            </ul>
        </div>
    </div>
</nav>

<script src="/js/nav.js" defer></script>