<!DOCTYPE html>
<html lang="en">

    <%- include("./partials/head.ejs") %>

<body>
    <main class="flex-column">
        <header class="page-header">
            <h2>New completion</h2>
            <p>Add a new completion</p>
        </header>

        <form class="card form-card" id="completion-form">
            <div class="form-card__field">
                <label class="form-card__label" for="completion-player-input">Player</label>
                <input class="form-card__input" type="text" id="completion-player-input">
                <div class="form-card__results" id="player-suggestions"></div>
            </div>

            <div class="form-card__field">
                <label class="form-card__label" for="completion-level-input">Level</label>
                <input class="form-card__input" type="text" id="completion-level-input">
                <div class="form-card__results" id="level-suggestions"></div>
            </div>

            <div class="form-card__actions">
                <button class="form-card__button--confirm" type="button" id="completion-form-submit">Add completion</button>
                <div class="hide alert" id="completion-form-alert"></div>
            </div>
        </form>

    </main>

    <script src="/js/admin.js"></script>
</body>
</html>