<!DOCTYPE html>
<html lang="en">

    <%- include("partials/head.ejs") %>

<body>
    
    <%- include("partials/nav.ejs") %>

    <main class="flex-column">
        <a class="page-card" href="/admin/manage-completions">
            <h2>Completions</h2>
            <p>Manage completions</p>
        </a>

        <a class="page-card" href="/admin/manage-players">
            <h2>Players</h2>
            <p>Manage players</p>
        </a>
    </main>
</body>
</html>