<!DOCTYPE html>
<html lang="en">

    <%- include("./partials/head.ejs") %>

<body>

    <%- include("./partials/nav.ejs") %>
    
    <div class="admin-actions">
        <button class="admin-actions__action admin-actions__action--selected" data-action="add" id="action-selected">Add completion</button>
        <button class="admin-actions__action" data-action="delete">Delete completion</button>
    </div>

    <main class="flex-column">

        <header class="page-header">
            <h2 id="page-header-title">Add completion</h2>
            <p id="page-header-description">Add a new completion</p>
        </header>

        <form class="card form-card" id="form">
            <fieldset class="form-card__field">
                <label class="form-card__label" for="player-input">Select a player</label>
                <input class="form-card__input" type="text" id="player-input" placeholder="Search...">
                <div class="form-card__results" id="player-suggestions"></div>
            </fieldset>

            <fieldset class="form-card__field">
                <label class="form-card__label" for="level-input">Select a level</label>
                <input class="form-card__input" type="text" id="level-input" placeholder="Search...">
                <div class="form-card__results" id="level-suggestions"></div>
            </fieldset>

            <section class="card summary-card">
                <h3 class="summary-card__header">Completion details</h3>
                <div class="summary-card__data" id="summary-player"><span class="bold">Player:</span> none</div>
                <div class="summary-card__data" id="summary-level"><span class="bold">Level:</span> none</div>
            </section>

            <div class="form-card__actions">
                <button class="form-card__button--confirm" type="button" id="form-submit">Add completion</button>
                <div id="form-alert"></div>
            </div>
        </form>

    </main>

    <script src="/js/admin/manage-completions.js"></script>
</body>
</html>