* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

h1, h2, h3, h4, p, a {
    color: var(--primary-text-color);
    font-family: var(--primary-font);
    text-decoration: none;
}

h2 {
    font-weight: 700;
}

body {
    background-color: var(--primary-color);
}