.page-content {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px;
}

.page-header {
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid black;
}

.page-header h2 {
    font-size: 2rem;
}

.page-section h3 {
    font-size: 2rem;
}

.page-section ul {
    font-size: 1.5rem;
}

.page-section li {
    border-bottom: 1px solid black;
    width: fit-content;
    margin: 5px;
    word-break: break-all;
    text-align: center;
    cursor: pointer;
}