.page-content {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px;
}

.page-header {
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid black;
}

.page-header h2 {
    font-size: 2rem;
}

.page-section {
    margin-top: 5px;
    width: 100%;
}

.page-section h3 {
    font-size: 2rem;
}

.page-section ul {
    font-size: 1.5rem;
}

.page-section li {
    border-bottom: 1px solid black;
    width: fit-content;
    margin: 5px;
    word-break: break-all;
    text-align: center;
    cursor: pointer;
}

.player-card {
    display: flex;
    width: 100%;
    gap: 5px;
    justify-content: flex-start;
    border: 1px solid #444444;
    padding: 5px 5px;
}

.player-rank {
    font-size: 1.9rem;
    font-weight: 700;
}

.player-info {
    display: flex;
    flex-direction: column;
}

.player-name {
    font-size: 1.2rem;
    font-weight: 700;
}

.player-points {
    font-size: 0.9rem;
    font-weight: 500;
}

#leaderboard a {
    display: block;
    margin: 10px;
}