nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 5px 10px;
    position: fixed;
    background-color: var(--primary-color);
    top: 0;
    left: 0;
    border-bottom: 1px solid #888888;
}

.nav__main-row {
    display: flex;
    justify-content: space-between;
}

.nav__logo {
    vertical-align: middle;
    font-weight: 900;
    cursor: pointer
}

.nav__toggler {
    background-image: url("../../images/bars-solid-full.svg");
    width: 40px;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    background-color: inherit;
    cursor: pointer;
}

.nav__toggler:hover {
    opacity: 0.8;
}

.nav__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 500;
    gap: 10px;
}

.nav__links li {
    width: 80%;
    height: 50px;
    border: 1px solid black;
    align-items: center;
}

.nav__links a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.nav__expand {
    margin: 10px 0px;
    display: none;
}

.nav__expand--active {
    display: flex;
    justify-content: center;
}

@media (min-width: 480px) {

}

@media (min-width: 768px) {

}

@media (min-width: 1024px) {

}