#site-logo {
    font-weight: 900;
}

.navbar {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 100%;
    padding: 5px 10px;
}

.navbar-main-row {
    display: flex;
    justify-content: space-between;
}

.navbar-toggler-icon {
    background-image: url("../../images/bars-solid-full.svg");
    width: 40px;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    background-color: inherit;
    cursor: pointer;
}

.navbar-toggler-icon:hover {
    opacity: 0.8;
}

.navbar-expand {
    margin: 10px 0px;
}

.navbar-list {
    display: flex;
    flex: 0 0 80%;
    flex-direction: column;
    list-style-type: none;
    font-size: 1.6rem;
    font-weight: 500;
    gap: 10px;
}

.navbar-list li {
    display: flex;
    flex: auto;
    height: 50px;
    text-align: center;
    border: 1px solid black;
    cursor: pointer;
}

.navbar-list a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 480px) {

}

@media (min-width: 768px) {

    .navbar {
        padding: 5px 20px;
    }

    .navbar-main-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .navbar-toggler-icon {
        display: none;
    }

    .navbar-expand {
        margin: 0;
        align-items: center;
        height: fit-content;
    }

    .navbar-list {
        flex-direction: row;
        gap: 20px;
    }

    .navbar-list li {
        height: fit-content;
        border: none;
    }


}

@media (min-width: 1024px) {

}