.page-header {
    margin: 0px auto;
    text-align: center;
}

.page-header h2 {
    font-size: 2rem;
}

.page-header p {
    font-size: 1rem;
}

.form-card {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin: 10px;
    padding: 15px 20px 0px 20px;
    width: 90%;
}

.form-card__field {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-self: center;
}

.form-card__label {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 1.5rem;
}

.form-card__input {
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 1.3rem;
}

.form-card__results {
    height: 200px;
    margin-top: 10px;
    border: 1px solid black;
    overflow-y: scroll;
}

.form-card__suggestion {
    border: 1px solid black;
    font-size: 1.1rem;
    font-family: var(--primary-font);
    padding: 5px 0px;
    cursor: pointer;
}

.form-card__suggestion:hover {
    background-color: #DADADA;
}

.form-card__suggestion--selected {
    color: green;
}

.form-card__actions {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-self: flex-end;
}

.form-card__button--confirm {
    padding: 2px 10px;
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 1rem;
    background-color: var(--primary-color);
    border: 1px solid black;
    margin: 10px 0 0 0;
}