main {
    width: 100%;
    padding-top: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.page-card {
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: min(90vw, 200px);
    height: min(90vw, 200px);
    cursor: pointer;
    align-self: center;
}