.page-header {
    margin: 0px auto;
    text-align: center;
}

.page-header h2 {
    font-size: 2rem;
}

.page-header p {
    font-size: 1rem;
}

.form-card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-self: center;
    margin: 10px;
    padding: 5px 20px 0px 20px;
    width: 90%;
    max-width: 500px;
}

.form-card__field {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-top: 10px;
    align-self: center;
    border: none;
}

.form-card__label {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 1.5rem;
}

.form-card__input {
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 1.3rem;
}

.form-card__results {
    height: 200px;
    margin-top: 5px;
    border: 1px solid black;
    overflow-y: scroll;
    font-family: var(--primary-font);
    font-size: 1.1rem;
}

.form-card__suggestion {
    font-size: 1.1rem;
    font-family: var(--primary-font);
    padding: 5px 0px;
    cursor: pointer;
}

.form-card__suggestion:hover {
    background-color: #DADADA;
}

.form-card__suggestion--selected {
    color: green;
}

.summary-card {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    width: 90%;
    font-family: var(--primary-font);
}

.summary-card__header {
    font-weight: 700;
    font-size: 1.5rem;
}

.summary-card__data {
    font-size: 1.2rem;
    word-break: break-all;
}

.form-card__actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    align-self: center;
    margin-bottom: 10px;
}

.form-card__button--confirm {
    padding: 2px 10px;
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 1rem;
    background-color: var(--primary-color);
    border: 1px solid black;
    height: 30px;
    cursor: pointer;
}

.form-card__button--confirm::first-letter {
    text-transform: capitalize;
}