main {
    padding-top: 10px;
}

.page-header {
    margin: 0px auto;
}

.page-header h2 {
    font-size: 2rem;
}

.leaderboard {
    margin-top: 5px;
    margin: 0px auto;
    max-width: 500px;
    width: 100%;
}

.player-card__link {
    display: block;
    margin: 10px;
}

.player-card {
    display: flex;
    width: 100%;
    gap: 5px;
    justify-content: flex-start;
    padding: 5px 5px;
}

.player-card:hover {
    background-color: #dadada;
}

.player-card__rank {
    font-size: 1.9rem;
    font-weight: 700;
}

.player-card__info {
    display: flex;
    flex-direction: column;
}

.player-card__name {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 700;
}

.player-card__icon {
    width: 1.2em;
    height: auto;
    margin-left: 5px;
}

.player-card__points {
    font-size: 0.9rem;
    font-weight: 500;
}