@import url("variables.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px
}

h1, h2, h3, h4, p, a {
    color: var(--text-primary-color);
    font-family: var(--primary-font);
    text-decoration: none;
}

h2 {
    font-weight: 700;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 30px;
    border-bottom: 1px solid black;
}

nav h1 {
    cursor: pointer;
}

nav ul {
    display: flex;
    gap: 20px;
}

nav li {
    list-style-type: none;
}

.level-card {
    margin: 10px auto;
    height: 100px;
    width: 90%;
    border: 1px solid #444444;
    padding: 5px;
    cursor: pointer;
}

.level-card:hover {
    background-color: #dadada;
}

.level-card h2 {
    font-size: var(--font-size-lg);
}

.level-points {
    font-size: var(--font-size-base);
    font-weight: 500;
    margin-left: 3px;
}

.player-card {
    width: 500px;
    margin: 10px;
    text-align: center;
    border: 1px solid #444444;
    padding: 5px 20px;
}